body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700px;
  color: rgb(247,244,241);
  text-transform: uppercase;

  background-color: rgb(0,0,0);
  background-image: url(../img/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0px 0px 0px 0px);
  white-space: nowrap;
  clip-path: inset(100%);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
}

a {
  text-decoration: none;
}

/* стархует от переполнения родителя */
img {
  max-width: 100%;
  height: auto;
}


.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  font: inherit;

  text-align: center;
  color: rgb(255,255,255);
  vertical-align: middle;
  text-transform: uppercase;

  background-color: rgb(0,0,0);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgb(102,61,21);
}
.button:disabled {
  opacity: 0.3;
}
.main-header-navigation {
 font-size: 16px;
 line-height: 20px;
 color: rgb(247,244,241);

 background-color: rgb(0,0,0);
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  max-width: 140px;
}
.site-navigation a,
.user-navigation a{
  display: block;
  color: rgb(247,244,241);
  padding: 25px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: rgb(36,36,36);
  outline: none;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
  font-weight: bold;
}

.feature-item h3 {
  margin: 0;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 42px;
  color: rgb(247,244,241);
  position: relative;
}

.feature-item h3::after {
position: absolute;
content: "";
bottom: -30px;
left: 50%;
width: 20px;
height: 20px;
margin-left: -10px;
transform: rotate(45deg);
background-color: rgb(255, 255, 255);
}

.feature-item p {
  margin: 0 10px;
}
.index-columns {
  font-weight: bold;
  color: rgb(0,0,0);

  background-color: rgb(248,245,242);
  background-image: url(../img/line.png),
                    url(../img/news-photo.jpg);
  background-position: center, 0 0;
  background-repeat: no-repeat, no-repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

}
.news-list p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

}
.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: rgb(229,229,229);
  border: 7px solid rgb(255,255,255);
  height: 164px;
  margin: 0;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-button-back {

left: 0;
}
.gallery-button-right{
  right: 0;
}
.gallery-container {
  position: relative;
  height: 260px;

}
.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid rgb(0,0,0);
}

.appointment-item input:focus {
  outline: none;
  border-color: rgb(102,61,21);
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.appointment-item {
  width: 140px;
}
.appointment-item input {
  width: 100%;
}
.main-footer {
  color: rgb(247,244,241);

  background-color: rgb(35,35,35);
  background-image: url(../img/footer-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-contacts a {
  color: rgb(247,244,241);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-item {
  color: rgb(247,244,241);
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: rgb(0,0,0);

  background-color: rgb(247,244,241);
}

.modal {
  display: none;
  color: rgb(0,0,0);

  background-color: rgb(248,245,242);
  background-image: url(../img/news-photo.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: rgb(0,0,0);
  text-transform: uppercase;

  background-color: rgb(249,246,243);
  border: 2px solid rgb(0,0,0);
}

.login-form input:focus {
  border-color: rgb(102,61,21);
}

.login-form input[type="checkbox"]:hover,
.login-form input[type="checkbox"]:focus {
color: rgb(102,61,21);
}

.restore {
  color: rgb(0,0,0);
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
/* почему нет автофокуса и ховера на социальных кнопках? */

/* cтраница каталога */

.inner-page {
  color:rgb(0,0,0);

  background-color: rgb(249,246,243);
  background-image: url("../img/news-photo.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  font-weight: 700;
}

.catalog-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a{
  color: rgb(0,0,0);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
 text-decoration: underline;
}

.breadcrumbs-current {
  color: rgb(171, 169, 167);
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filter-item:hover + label,
.filter-item:focus + label {
  color: rgb(102, 61, 21);
}

.filter-item:disabled + label {
  color: rgba(0, 0, 0, 0.5);
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.1)
}

.catalog-item:hover {
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: rgb(0, 0, 0);
}

.catalog-item h3 {
  font-size:  14px;
  line-height: 18px;

}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: rgb(229, 229, 229);
}

.catalog-item-price a {
  color: rgb(255, 255, 255);
  line-height: 20px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color : rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: rgb(102, 61, 21);
}

.pagination-item-current a {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* стили карточки товара */
.product-photo-preview {
  list-style: none;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
  text-align: right;
  color: rgb(174, 174, 174);
}

.product-price b {
  line-height: 24px;
  background-color: rgb(229, 229, 229);
  text-align: center;
}

.product-description h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-description ul {
  list-style: none;
}

/* разметка сетки */


/* временно для сетки
  body {
  background-image: url(../../../../barbershop/barbershop-preview/barbershop-index.jpg);
  background-size: auto;
  background-repeat: no-repeat;
} */
.main-header-navigation {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: transparent;
}

.main-header-logo {
  display: block;
  width: 371px;
  height: 155px;
  order: 2;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 620px;
  display: flex;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;


  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  min-width: 140px;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;


}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("../img/login.svg");
  top: 26px;
  left: 27px;
  opacity: 0.3;
}

.user-navigation .login-link:hover::before
.user-navigation .login-link:focus::before {
  opacity: 1;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: black;
}

.main-navigation-wrapper .container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
main .container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content:space-between;
  margin-bottom: 80px;
}
.feature-item {
  width: 300px;
}

.index-columns{
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;
}
.news {
  width: 380px;
}

.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.appointment{
  width: 300px;
}
.index-columns h2 {
  margin-top: 0;
}

.main-footer {
  margin-top: 65px;
}

.main-footer .container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 60px 0;
}

.footer-social ul{
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 0;
}
.footer-contacts {
  margin-right: 80px;
}
.footer-copyright {
  margin-left: auto;
}

/* разметка  каталога*/

.inner-page .main-header {
  margin-bottom: 50px;
  background-color: black;

  /* временно */
  min-height: 70px;
}

.inner-page .container {
  width: 940px;
  margin: 0 auto;
}

.inner-page .main-header-navigation {
  align-items: flex-start;
  flex-direction: row;
  /* временно */
  min-height: 70px;
}

.inner-page .main-header-logo {
  width: 111px;
  height: 24px;
  padding: 23px 20px;
  order: 0;
}

.inner-page .user-navigation {
  margin-left: auto;
}

/*разметка main */
.inner-page h1 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.inner-page .breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  /* временно */
  min-height: 24px;
}

.inner-page .filters {
  width: 180px;

  /* временно */
  min-height: 690px;
}

.inner-page .catalog {
  width: 700px;

  /* временно */
  min-height: 690px;
}

.inner-page .catalog-columns {
  display: flex;
  justify-content: space-between;
}

.inner-page .catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.inner-page .catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px purple;

  /* временно */
  min-height: 285px;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.inner-page .pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;

  /* temporary */
  min-height: 47px;
}

.inner-page .main-footer {
  margin-top: 45px;

}

.inner-page .product-photos {
  width: 460px;

  /* temporary */
  min-height: 480px;
}

.inner-page .product-description {
  width: 390px;

  /* temporary */
  min-height: 480px;
}
